body {
    background-color: #fff;
}

header, section {
    padding:0 .2rem;
}
section {
    padding-bottom:.4rem;
}
.mobile_header {
    padding-top: .2rem;
    font-size: .24rem;
    color: #333;
    line-height: 1;
    justify-content: flex-end;
}
.over2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mobile_header > a .logo {
    display: block;
    width: 3rem;
}
.mobile_header > .flex{
    margin-left: auto;
    justify-content: flex-end;
}
.mobile_header > .flex > div:nth-child(even){
    width: 55%;
}
.mobile_header > .flex > div:nth-child(odd){
    justify-content: flex-end;
    padding-right: .2rem;
}
.mobile_header > .flex > div{
    margin-bottom: .1rem;
}
.mobile_header > div img {
    width: .24rem;
    height: .24rem;
    margin-right: .08rem;
    margin-left: .16rem;
}

.seach_input input {
    border: 0;
    line-height: .64rem;
    font-size: .32rem;
    display: block;
    background-color: rgb(243, 243, 243);
    border-radius: .32rem;
    width: 100%;
    margin-top: .4rem;
    text-indent: 1em;
    box-shadow: 0 0 2px #999;
    margin-bottom: .4rem;
}

input::placeholder {
    color: #999;
}
.mo_seachList .mobile_item{
    border-top: 1px solid #eee;
    padding: .14rem 0;
}
.mo_seachList .mobile_item > img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .24rem;
}

.mobile_item .mobile_right {
    flex: 1;
    flex-direction: column;
}

.mobile_item .mobile_title {
    font-size: .28rem;
    line-height: .38rem;
    height: .76rem;
    overflow: hidden;
    font-weight: 500;
}

.mobile_item .mobile_chen {
    font-size: .24rem;
    color: #9A9A9A;
    margin-top: .2rem;
    line-height: .28rem;
    margin-bottom: .4rem;
    position: relative;
}

.mobile_item .mobile_chen i {
    color: #fff;
    background-color: #F25038;
    padding: 0 .05rem;
    margin-right: .1rem;
}

.mobile_item .mobile_chen span:after {
    content: '|';
    margin: 0 .1rem;
}

.mobile_item .mobile_chen img {
    width: .5rem;
    height: .5rem;
    position: absolute;
    right: .2rem;
}

.mobile_item .mobile_btn {
    margin-bottom: .2rem;
}

.mobile_item .mobile_btn span {
    font-size: .24rem;
    line-height: .34rem;
    border: 1px solid #F25038;
    color: #F25038;
    margin-right: .15rem;
    padding: 0 .05rem;
}

.mobile_item .mobile_price {
    font-size: .32rem;
    color: #EA8C45;
    margin-top: auto;
}

.mobile_item .mobile_price span {
    font-size: .24rem;
    color: #9A9A9A;
    margin-left: .24rem;
}

.mobile_item .mobile_price span:last-child {
    margin-left: auto;
}
._mobile_alla{
    position: fixed;
    padding:.3rem .4rem;
    border: 1px solid #9a9a9a;
    width: 100%;
    font-size: .28rem;
    line-height: .48rem;
    color:#333;
    bottom: 0;
    left: 0;
    background-color: rgba(250,250,250,.9);
    z-index: 111;
}
._mobile_alla .title{
    color: #999;
}
._mobile_alla .flex{
    justify-content: space-between;
}
._mobile_alla .flex a{
    width: 48%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
._mobile_alla img{
    position: absolute;
    top: .2rem;
    right: .3rem;
    width: .3rem;
}
.loading{
    padding: .5rem;
    font-size: .32rem;
}
.loadingItem{
    justify-content: center;
}
.loadingText{
    display: none;
    text-align: center;
}
.loading span{
    height: .2rem;
    width: .2rem;
    background-color: #EA8C45;
    border-radius: 50%;
    margin: 0 .1rem;
    /*animation: loading .7s linear infinite alternate;*/
    position: relative;
}
.loading span:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: loading 2s ease-out infinite ;
}
.loading span:nth-child(1):before{
    animation-delay: .2s;
}.loading span:nth-child(2):before{
    animation-delay: .4s;
}.loading span:nth-child(3):before{
    animation-delay: .6s;
}.loading span:nth-child(4):before{
    animation-delay: .8s;
}.loading span:nth-child(5):before{
    animation-delay: 1s;
}
 .fot{
     justify-content: space-between;
     font-size: .24rem;
     line-height: .56rem;
     margin-top: .5rem;
     padding-bottom: .8rem;
 }
 .fot .left,.fot .right{
     flex: 1;
 }
/*.fot .left .flex,.fot .right .flex{*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/
.fot h3{
    font-size: .34rem;
    line-height: .46rem;
    padding-left: .3rem;
    font-weight: 500;
    margin-bottom: .2rem;
}
.fot .flexR{
    padding: 0 .2rem;

}
.fot .left .flexR{
    border-right: 1px solid #eee;
}
.fot a{
    display: block;
    /*text-align: center;*/
    max-width: 100%;
    overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
    padding: 0 .26rem;
    border: 1px solid #999;
    color: #333;
    border-radius: .28rem;
    margin-bottom: .2rem;
}
@keyframes loading {
 100%{
      transform: scale(2.5,2.5);
      opacity: 0;
  }
}
